* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* section {
    padding: 32px 32px 0 32px;
} */

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


h1 {
    font-size: 48px;
    color: #1a202c;
}

h2 {
    color: #6415ff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    margin-bottom: 16px;

}

.capslock {
    text-transform: uppercase;
}


.text--purple {
    color: #6415ff
}


a {
    text-decoration: none;
}

a:before,
a:active,
a::after {
    text-decoration: none;
    color: #f7fafc;
}


li {
    list-style-type: none;
}


ul {
    display: inline;   
    justify-content: center; 
    align-items: center;
}

button  {
    background-color: #6415ff;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 9999px;
    border: none;
}



button:hover {
    background-color: rgb(60 13 153);
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 9999px;
    border: none;
}

.header__para {
    color: #243e63;
    font-size: 18px;

}


.nav__link--primary {
    background-color: #6415ff;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
}



.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: left;
}


.logo__name {
    color: #243e63;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 12px 16px;
}


.logo__img {
    height: 42px;
}



.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__links--list {
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    color: #243e63;

}


.nav__link--anchor {
    padding: 0 32px;

}


.nav__links--container {
    margin: right;

}




/* HEADER */


.header__container {
    display: flex;
    padding: 96px 0;
}


.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header__input {
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 9999px;
    border: 2px solid #cbcbcb;
    width: 300px;
    
}


.header__customers--img {
    height: 32px;
    filter: grayscale(4) invert(4);
}


.header__img {
    width: 60%;
}


.customers {
    color: #a0aec0
}


/* FEATURES SERVICES SECTION */

.header_para {
    line-height: 30px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__title--container {
    display: flex;
    padding: 96px 0;
}

.services__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__block--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    
    
    
}


.service__wrapper {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 3);
    margin: 0 16px 0 16px;
    padding: 32px 8px;
 


}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__img {
    display: flex;
    width: 24px;
    height: 24px;

}

.service__logo {
    width: 66px;
    height: 66px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 2px gray;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* QUALITY SECTION */


.quality__container {
    display: flex;  
    padding: 96px 0; 
    
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__screenshot--section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__img {
    max-width: 100%;
}



/* STEPS SECTION */




.steps__container {
    display: flex;
    padding: 96px 0;
}


.steps__screenshot--section {
    width: 50%;
    display: flex;
    
}

.steps__img {
    max-width: 100%;
}

.steps__description--container {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.step__info--container {
    display: flex;
    justify-content: center;

}

.step__number {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(203 213 224);
    font-size: 36px;
}

.step__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 24px;
    margin: 24px;
    color: #718096;
    text-wrap: wrap;
    max-width: 320px;

}

.step__title {
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
}
