* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    padding-left: 96px;
    padding-right: 96px;
}

.row {
    width: 100%;
    padding: 96px 2px;
    margin: 0 auto;
}


h1 {
    font-size: 48px;
    color: #1a202c;
}

h2 {
    color: #6415ff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    margin-bottom: 16px;

}

.capslock {
    text-transform: uppercase;
}


.text--purple {
    color: #6415ff
}


a {
    text-decoration: none;
}

a:before,
a:active,
a:after {
    text-decoration: none;
    color: #f7fafc;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #6415ff;
    
}




li {
    list-style-type: none;
}


ul {
    display: inline;   
    justify-content: center; 
    align-items: center;
}

button  {
    background-color: #6415ff;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}



.btn__header:hover {
    background-color: rgb(60 13 153);
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 9999px;
    border: none;
}


.nav__link--primary {
    background-color: #6415ff;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
}

.nav__link--primary:hover {
    background-color: rgb(60 13 153);
    text-decoration: none;
    color: #f7fafc
}


.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: left;
}


.logo__name {
    color: #243e63;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 12px 16px;
}


.logo__img {
    height: 42px;
}



.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
 
}


.nav__links--list {
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    color: #243e63;
    margin: right;
}


.nav__link--anchor {
    padding: 0 32px;
    color: #243e63;
    
}



.section__title {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
    margin: 8px 0;
    padding: 0 0 4px;
}



/* ----- BURGER MENU ----- */

.btn__menu {
    background-color: #fff;
    font-size: 18px;
    color: #6415ff;
    display: none;


}


.menu__backdrop {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: -50;
    z-index: 100;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease;
}


.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}


.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link--btn {
    background-color: #6415ff;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
}

.menu__list {
    padding: 16px 0;
}

.menu__link {
    color:#1A202C;
    font-size: 16px;
    font-weight: 700;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415ff;
}


/* ------  HEADER ------- */



.header__para {
    color: #243e63;
    font-size: 18px;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 32px;

}


.header__container {
    display: flex;
    padding: 96px 0;
    
}


.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;

}


.header__input {
    width: 100%;
    padding: 22px 0 22px 32px;
    border: 2px solid rgb(232, 236, 241);
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    
}

::placeholder {
    color: rgb(226, 232, 240);
}

.header__customers--img {
    height: 32px;
    filter: grayscale(4) invert(4);
}




.customers {
    color: #a0aec0;
    font-weight: 700;
    margin-top: 80px;
}


.btn__header {
    border-radius: 50px;
    border: none;
    width: 160px;
    min-width: 130px;
    padding: 16px 0;
    background-color: #6415ff;
    color: #fff;
    right: 0;
    margin: 8px 8px 8px 0;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    align-items: flex-start;
}

.btn__header:hover {
    background-color: rgb(60 13 153);
}

.header__input--container {
    max-width: 448px;
    display: flex;
    align-items: center;
    position: relative;
    color: #ffffff;
    
}



.header__img {
    overflow: hidden;
    width: 60%;
}



/* ------ FEATURES SERVICES SECTION ------ */


.title {
    display: flex;
    justify-content: center;
}

.services__para {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #7c8ba1;
}


.services__title--container {
    display: flex;
    text-align: center;
    padding: 0;
}

.services__title {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.services__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 110px;

}



.service__wrapper {
    display: flex;
    width: calc(100% / 3);
    align-items: flex-start;
    margin: 24px 0;

}



.service__title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .4px;
    line-height: 1;
    margin-bottom: 16px;
}


.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 8px;
    text-align: left;

 
}

.service__img {
    display: flex;
    width: 24px;
    height: 24px;

}

.service__logo {
    width: 66px;
    height: 66px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 2px rgb(226, 232, 240);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.service__description {
    font-weight: 500;
    line-height: 2;
    color: rgb(124 139 161);
}

/* ----- QUALITY SECTION ----- */


.quality__container {
    display: flex;  
    padding: 96px 0; 
    
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__screenshot--section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__img {
    width: 100%;
}


.quality__para {
    font-size: 18px;
    font-weight: 500;
    color: rgb(124 139 161 );
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 1.5;
}


/* ------- STEPS SECTION ------- */




.steps__container {
    display: flex;
    padding: 96px 0;
}

.text__container {
    margin: auto;

}

.steps__screenshot--section {
    width: 50%;
    display: flex;
    
}

.steps__img {
    max-width: 100%;
    margin: auto;
  
}

.steps__description--container {
    width: 50%;
    display: flex;
    flex-direction: column;
    
    
}

.step__info--container {
    display: flex;
    margin: auto;

}

.step__number {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(203 213 224);
    font-size: 36px;
    font-weight: 600;
}

.step__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin: 24px;
    color: #718096;
    text-wrap: wrap;
    max-width: 320px;

}

.step__title {
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
}


/* ------ VALUES SECTION ------- */

.values__container {
    display: flex;
    padding: 96px 0;
    margin: auto;
}

.values__info--container {
    display: flex;
    margin: auto;
}


.values__description--container {
    width: 50%;

}

.values__img--container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__para {
    margin-top: 32px;
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
}


.value__description--container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-right: 32px;
    
}

.value__title--wrapper {
    display: flex;
    align-items: center;

    
}


.value__title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
    color: #243e63;
    text-align: left;
    align-items: center;
}


.value__description--para {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 16px;

}



.value__img--briefcase {
    height: 36px;
    width: 36px;
    padding: 2px 8px;
    border-radius: 999px;
    color: rgb(155, 44, 44);
    background-color: rgb(254, 178, 178);
}

.value__img--dollar {
    height: 36px;
    width: 36px;
    padding: 8px 8px;
    border-radius: 999px;
    color: rgb(39, 103, 73);
    background-color: rgb(154, 230, 180);
    
}

.value__button {
    color: #fff;
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    margin-top: 32px;
    font-weight: 700;
    transition: 500ms ease;
    cursor: pointer;
    
}




/* ------ PRICING CONTAINER ----- */


.pricing__section--container {
    justify-content: space-between;
    align-items: center;
    text-align: center;

}


.pricing__para {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #7c8ba1;
    margin-left: relative;
    margin-right: relative;
}

.pricing__container {
    align-items: center;
    width: 100%;
}

.pricings__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  

}

.pricing__business--top {
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: 2px solid rgb(102, 126, 234);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.pricing__personal--top,
.pricing__enterprise--top {
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 2px solid rgb(226, 232, 240);
    border-right: 2px solid rgb(226, 232, 240);
    border-bottom: 2px solid rgb(226, 232, 240);
}


.enterprise__border--colored {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    height: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.personal__border--colored {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.pricing__business--wrapper {
    width: 384px;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

.pricing__personal--wrapper,
.pricing__enterprise--wrapper {
    width: 384px;
}


.price__title {
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
}

.price__business--title {
    font-size: 20px;
    color: rgb(247, 250, 252);
    font-weight: 700;
}

.price__amount {
    font-size: 48px;
    color: #1a202c;
    font-weight: 700;
    line-height: 78px;
    margin-top: 4px;
    margin-bottom: 4px;
}


.price__business--amount {
    font-size: 48px;
    color: rgb(247, 250, 252);
    font-weight: 700;
    line-height: 78px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.monthly {
    font-weight: 700;
    line-height: 26px;
    color: #a0aec0;
}

.monthly__business {
    font-weight: 700;
    line-height: 26px;
    color: rgb(247, 250, 252);
}

.pricing__personal--middle,
.pricing__enterprise--middle {
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    border-left: 2px solid rgb(226, 232, 240);
    border-right: 2px solid rgb(226, 232, 240);
    border-bottom: 2px solid rgb(226, 232, 240);
}

.pricing__business--middle {
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    /* border-left: 2px solid rgb(102, 126, 234);
    border-right: 2px solid rgb(102, 126, 234); */
    border-bottom: 2px solid rgb(102, 126, 234);

}

.price__personal--content,
.price__enterprise--content {
    color: #718096;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    display: block;
}

.price__business--content {
    color: rgb(247, 250, 252);
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    display: block;
}

.pricing__personal--bottom,
.pricing__enterprise--bottom {
    padding: 32px 64px;
    border-left: 2px solid rgb(226, 232, 240);
    border-right: 2px solid rgb(226, 232, 240);
    border-bottom: 2px solid rgb(226, 232, 240);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.pricing__business--bottom {
    padding: 32px 64px;
    /* border-left: 2px solid rgb(102, 126, 234); */
    border-right: 2px solid rgb(102, 126, 234);
    /* border-bottom: 2px solid rgb(102, 126, 234); */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.price__business--for {
    color: rgb(247, 250, 252);
}


.pricing__personal--btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-size: 14px;
    padding: 16px 64px;
    font-weight: 700;
}
.pricing__enterprise--btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-size: 14px;
    padding: 16px 64px;
    font-weight: 700;
}

.pricing__business--btn {
    background: rgb(247, 250, 252);
    color: rgb(102, 126, 234);
    font-size: 14px;
    padding: 16px 64px;
    font-weight: 700;
}


.pricing__business--btn:hover {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* ----- TESTIMONIALS SECTION ----- */

.testimonials__container {
    display: flex;
}

.testimonials__img--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials__customer--wrapper {
    width: 50%;
    text-align: left;
    padding-left: 64px;

}

.testimonial__description--para {
    margin: 24px 0;
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
    color: #243e63;
}

.testimonial__ratings {
    color: rgb(246 173 85);
}

.testimonial__customer--para {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #4A5568;
    margin: 16px 0 32px;
}

.customer__img {
    border-radius: 50px;
    width: 85px;
    height: 85px;
    margin-right: 20px;
}

.customer__name {
    color: #243e63;
    font-size: 20px;
    font-weight: 700;
}

.customer__details {
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
    align-items: center;
}


.customer__container {
    display: flex;
    align-items: center;

}



/* ----- FAQS SECTION ----- */


.faqs__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}


.faqs__para {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
}

.faqs__questions--wrapper {
    margin-top: 48px;
    width: 100%;
    max-width: 896px;
    
}

.faqs__question {
    font-size: 20px;
    font-weight: 600;
    color: #2d3748;
}

.faqs__question--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin-bottom: 24px;
    background-color: rgba(227, 230, 233, 0.473);
    border-radius: 8px;
    cursor: pointer;
    transition: 500ms ease;
    flex-wrap: wrap;
}

.faqs__question--box:hover {
    background: #d4d4d4;
}


/* --- BANNER SECTION ----- */


.getstarted__banner--container {
    background-color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
    border-radius: 8px;
    margin-bottom: 96px;
    flex-wrap: wrap;
}


.banner__link--start {
background-color: #F56565;
color: #f7fafc;
font-size: 16px;
font-weight: 700;
padding: 20px 40px;
border-radius: 9999px;
border: 1px solid #f56565;
}

.banner__link--contact {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 9999px;
    border: 1px solid #ffffff;
}

.banner__link--contact:hover {
    color: #f7fafc;
    background-color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 9999px;
    border: 1px solid #ffffff;
}

.banner__description {
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
    width: 560px;

}






/* ----- FOOTER SECTION ----- */

footer {
    background-color: #6415ff;
    justify-content: center;
    padding-bottom: 78px;

}

.footer__section--container {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    max-width: 100%;

}

.footer__links--container {
    width: 100vw;
    margin: auto;
    padding: 0 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__links--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer__link--title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
 
}

.footer__link--1 {
    margin-top: 12px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.footer__link {
    margin-top: 12px;
    padding-top: 4px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

/* ----- FOOTER COPYRIGHT & SOCIAL LINKS ----- */

.footer__divider {
    margin: 64px 78px;
    border: 1px solid rgb(116 44 255);

}

.footer__bottom--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 78px;

}


.footer__logo {
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
    margin-left: 8px;
}

.footer__logo--img {
    width: 32px;
    height: 32px;
}

.copyright {
    color: #cbd5e0;
  
}


.logo__img--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.social__logo--img {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms ease;
    margin: auto;

}

.social__link {
    color: #1a202c;
    margin: auto;
}

.social__link a:hover {
    text-decoration: none;
    color: #1a202c;
}

.social__facebook--container,
.social__twitter--container,
.social__youtube--container {
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;
    background-color: #fff;
    background-position: center;
    border-radius: 999px;
    margin: 16px;
}



/* ----- MEDIA ----- */


@media (max-width: 960px) {
    
    section {
        padding: 0;
    }

    .row {
        padding: 24px 2px;

    }




    .nav__links--list {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .nav__container {
        padding: 16px 32px;
    }

    .header__title {
        font-size: 32px;
        padding-bottom: 12px;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
     
    }

    .header__customers--img {
        width: 100%;
        height: auto;
        padding-bottom: 32px;

    }

    .header__title,
    .header__para {
        text-wrap: wrap;
    }

    .header__description {
        margin: auto;
        width: 75vw;
        height: 50vh;
        text-align: center;
        display: flex;
        align-items: center;

    }

    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    
    }

    .header__input--container {
        height: 25vh;
    }

    .header__para {
        text-align: center;
        max-width: 600px;
        padding-bottom: 32px;
        
    }

    .header__img {
        display: block;
        margin: auto;
        padding-top:24px;
        height: 25vh;
      

    }

    .customers {
        margin-bottom: 42px;

        height: 50%;
    }

    .section__title {
        font-size: 32px;
    }




    .service__wrapper {
        width: calc(100% / 2);

    }

    .services__para {
        margin: relative;
    }

    .quality__screenhot--section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quality__container {
        display: flex;
        flex-direction: column;    
        justify-content: center; 
        align-items: center;
        margin: auto;

    }   

    .quality__img {
        display: flex;
        justify-content: center;
        align-items: center;



    }


    .steps__container {
        display: flex;
        flex-direction: column;    
        justify-content: center; 
        align-items: center;
        margin: auto;
    }

    .steps__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps__screenshot--section {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps__info--container {
        max-width: 80vw;
        display: flex;
        margin-left: 16px;
    }

    .steps__description--container {
        width: 100%;
    }


    .step__number {
        padding: 16px;
    }

    .values__container {
        width: 100vw;
        display: flex;
        align-items: center;
        margin: auto;

    }

    .value__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .values__para {
        padding: 0;
    }

    .pricings__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing__personal--wrapper,
    .pricing__business--wrapper,
    .pricing__enterprise--wrapper {
        margin: 24px 0;
    }


    .footer__section--container {
        position: relative;

    
    }


    .footer__links--wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0 24px;
    
    }





    .header__input--container {
        max-width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        color: #ffffff;
        
    }
    


    .btn__header {
        border-radius: 50px;
        border: none;
        width: 120px;
        min-width: 120px;
        padding: 16px 0;
        background-color: #6415ff;
        color: #fff;
        right: 0;
        margin: 8px 8px 8px 0;
        font-weight: 700;
        font-size: 16px;
        position: absolute;
        cursor: pointer;
        align-items: flex-start;
    }
    
    .btn__header:hover {
        background-color: rgb(60 13 153);
    }
    

    .header__input {
        width: 500px;
        padding: 22px 0 22px 32px;
        border: 2px solid rgb(232, 236, 241);
        font-weight: 500;
        font-size: 16px;
        border-radius: 50px;
        
    }

    .faqs__questions--wrapper {
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
    }

    .faqs__question--box {
        position: relative;
        display: flex;
        flex-direction: column;
        text-wrap: wrap;
        margin: 24px;
        flex-wrap: wrap;
      

    }
   

    .faqs__question {
        display: flex;
        text-wrap: wrap;

    }


    .getstarted__banner--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .getstarted__banner--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .link__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 32px;

    }




}




@media (max-width: 768px) {


    h1 {
        text-align: center;
    }

    .section__title {
        font-size: 24px;
    }

    h2 {
        text-align: center;
    }


    .nav__links {
        display: none;
    }

 
    .header__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

    }


    .service__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .services__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: auto;
        
    }

    .service__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .service__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        text-align: center;
    }


    .quality__container {
        display: flex;
        flex-direction: column-reverse;
   
        
    }

    .quality__img {
       
    }

    .quality__description {
        height: 100%;
        width: 100vw;
        padding: 36px;
    }

    .quality__para {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .text__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .values__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: auto;

    }

    .values__info--container {
        display: flex;
        flex-direction: column;
    
    }



    .value__title {
        font-size: 14px;
    }


    .testimonials__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        
    }
    
    .testimonial__img--wrapper {
        width: 100%;
        height: auto;

    }



    
    .testimonials__customer--wrapper {
        width: 100%;
        margin: auto;

    }

    .faqs__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .faqs__questions--wrapper {
        width: 75vw;
        text-wrap: wrap;
        
    }


    .faqs__question--box {
        position: relative;
        display: flex;
        flex-direction: column;
        text-wrap: wrap;
        width: 100vw;

    }

    .faqs__question {
        text-wrap: wrap;
        font-size: 18px;
    }

    .footer__links--container {
        display: flex;
        flex-wrap: wrap;

    }

    .footer__links--wrapper {
        margin-top: 16px;
        margin-bottom: 16px;;
    

    }

    .footer__bottom--container {
        display: grid;
    }


}

@media (max-width: 576px) {

.getstarted__banner--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}



.banner__description--wrapper {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



}

@media (max-width: 468px) {

    .faqs__question--box {
        position: relative;
        display: flex;
        flex-direction: column;
        text-wrap: wrap;
        width: 100vw;
        

    }

    
    .faqs__question--box {
        text-wrap: wrap;
        font-size: 14px;
    }



}